In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises'
ords_prods_merged = pd.read_pickle(r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises/02 Data/Prepared Data/ords_prods_merged_21_June.pkl')

In [4]:
ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,Busiest day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,195,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,195,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,195,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,195,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer

In [7]:
## .drop for extra unneeded columns
ords_prods_merged = ords_prods_merged.drop(['eval_set', 'Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [8]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Busiest day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer

In [9]:
aggregate = ords_prods_merged.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

In [16]:
aggregate.head(25)
## total number of depts is 21

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [17]:
## Looking at the Exercise (1000000) and the entire dataframe (above), we see the mean is lower overall.
## This should not be surprising due to the larger number of units being calculated.

In [18]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

## max order > 40 flag as Loyal
## max order <= 40, AND >10 flag as Regular
## max order <= 10, flag as New

In [19]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [20]:
## The data is the same as the exercise.

In [21]:
ords_prods_merged.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Busiest day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Average orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Regularly busy,Busiest days,Average orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer

#### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. 
#### Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). 
#### What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [23]:
spending = ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

In [24]:
spending.shape

(3, 3)

In [25]:
spending.head()

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [27]:
## The spending habits of the three categories are different to expectations. 
## Loyal customers appear to be more thrify, while New customers spend on average MORE per order.
## Regular customers are between these two on average, slightly above median. (11.840503)

#### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [30]:
ords_prods_merged['mean_spending'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.max)

In [31]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Busiest day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_spending
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10,New customer,14.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer,14.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer,14.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer,14.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer,14.0

In [32]:
## Assigning values to High and Low spenders
ords_prods_merged.loc[ords_prods_merged['mean_spending'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merged.loc[ords_prods_merged['mean_spending'] <10, 'spending_flag'] = 'Low spender'
## Checking below

In [33]:
ords_prods_merged['spending_flag'].value_counts(dropna = False)

High spender    32372969
Low spender        31890
Name: spending_flag, dtype: int64

In [34]:
## The category 'High Spender is higher by a factor of 1000+'

### Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

#### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [38]:
ords_prods_merged['median_order_days'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [39]:
## Checking
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,department_id,prices,Busiest day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_spending,spending_flag,median_order_days
0,2539329,1,1,2,8,NaN,196,1,0,both,...,7,9.0,Regularly busy,Regular days,Average orders,10,New customer,14.0,High spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,both,...,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer,14.0,High spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,both,...,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer,14.0,High spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,both,...,7,9.0,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,both,...,7,9.0,Least busy,Slowest days,Most orders,10,New customer,14.0,High spender,20.5

In [40]:
ords_prods_merged.loc[ords_prods_merged['median_order_days'] > 20, 'median_flag'] = 'Non-frequent customer'
ords_prods_merged.loc[(ords_prods_merged['median_order_days'] <= 20) & (ords_prods_merged['max_order'] > 10), 'median_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['median_order_days'] <= 10, 'median_flag'] = 'Frequent customer'

In [41]:
## Checking
ords_prods_merged['median_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          5338212
Non-frequent customer     3636437
NaN                       1870357
Name: median_flag, dtype: int64

In [42]:
## NaN has been identified as New customers with no previous orders.

In [2]:
ords_prods_merged[['user_id', 'median_flag', 'order_number']].head(60)

NameError: name 'ords_prods_merged' is not defined

In [1]:
## Saving and Exporting .pkl
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_21_June.pkl'))

NameError: name 'ords_prods_merged' is not defined